/* GLOBAL STYLESHEET */

* {
    font-family: 'Poppins', 'Veranda', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* CONTAINERS */
.site-width {
    width: 900px;
}

.pad-section {
    padding: 6em 0em;
}

/* TYPE */
p {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-top: 0px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* BUTTONS AND LINKS */
ul.nav-header {
    list-style: none;
    margin: 0px;

    a {
        text-decoration: none;
        color: #ab5cc5;
        letter-spacing: 1px;
    }
}

button {
    padding: 10px 15px;
    border-radius: 50px;
}

button.btn-primary {
    background-color: #ab5cc5;
    color: #fff;
    border: 2px solid #ab5cc5;
}

button.btn-secondary {
    background-color: transparent;
    border: 2px solid #ab5cc5;
}

/* IMAGES */

/* FLEX CLASSES */
.flex-container {
    display: flex;
}

.just-center {
    justify-content: center;
}

.just-stretch {
    justify-content: stretch;
}

.just-btwn {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

.column {
    flex-direction: column;
}

.button-container-left {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.flex-container.col-2-spread {
    flex-wrap: wrap;
    gap: 15px;

    > div {
        flex-basis: 400px;
        flex-grow: 1;
    }
}

.flex-container.col-4-spread {
    flex-wrap: wrap;
    gap: 15px;

    > div {
        flex-basis: 200px;
        flex-grow: 1;
    }
}

/* COLOR CLASSES */
.bg-primary {
    background-color: #dbfff4;
    background-image: 
        radial-gradient(at 47% 33%, hsl(310.29, 73%, 81%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(234.00, 100%, 94%) 0, transparent 55%);
    color: #333333;
}

.glass {
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(209, 213, 219, 0.3);
}

/* SHADOWS */
.shadow-primary {
    box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.13);
}

/* SECTIONS */
.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: baseline;
    position: fixed;
    width: 100%;
    top: 0;
}

.atf-content {
    min-height: 36em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

ul.nav-header {
    display: flex;
    gap: 15px;
}

.logo {
    font-weight: 600;
    font-size: 1.5em;
}

/* ELEMENTS */
.feature-container {
    padding: 20px 15px;
}